<%- include('./layout.ejs') %>
</head>

<body class="center">
    <h1>
        Are you sure you want to delete?
    </h1>
    <form action="/delete" method="POST">
        <input type="hidden" value="<%= audio._id %>" name="audioId">
        <button class="btn" type="submit">Yes</button>
    </form>
    <br>
    <form action="/view_all" method="GET">
        <button class="btn" type="submit">No</button>
    </form>
</body>
</html>