<%- include('./layout.ejs') %>
</head>

<body class="center">
<h1>
    <%= pageTitle %>
</h1>
<p>
    <form action="/intro_page">
        <input class="btn" type="submit" value="About">
    </form>
</p>
<p>
    <form action="/upload">
        <input class="btn" type="submit" value="Upload Audio">
    </form>
</p>
<p>
    <form action="/view_all">
        <input class="btn" type="submit" value="View Available Files">
    </form>
</p>
</body>
</html>