<%- include('./layout.ejs') %>
</head>

<h1>
    <%= pageTitle %>
</h1>
<p>
    <a href="/intro_page" class="btn" type="submit">About</a>
</p>
<p>
    <a href="/upload" class="btn" type="submit">Upload Audio</a>
</p>
</body>
</html>