extends layout

block content
  h1= title
  h2 Select the checkboxes to change your level of control over the generation of the song. Select all for complete control over the process.
  p
    input(type="checkbox", name="box1", value="Layout")
    |Layout
    br
    input(type="checkbox", name="box2", value="Tempo")
    |Tempo
  p
    input(type="submit", value="Continue")