doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    //p
        input(type='checkbox', name='box1', value='Layout')
        |Layout
        br
        input(type="checkbox", name="box2", value="Tempo")
        |Tempo
    //p
        input(type="submit", value="Continue")
    //p
        audio(controls='')
         source(src='C:/Users/g00338579/OneDrive - GMIT/FinalYearProject/Samples/Beats/drum_kicksnare.wav', type='audio/wav')