extends layout

block content
  h1
    |Click the three dots on the audio player and then click Download to save this file.
  p
    audio(controls='')
      source(src='C:/Users/g00338579/OneDrive - GMIT/FinalYearProject/Samples/Beats/drum_kicksnare.wav', type='audio/wav')