<%- include('./layout.ejs') %>
</head>

<body>
    <h1>
        Click the three dots on the audio player and then click Download to save this file.
    </h1>
    <p>
        <audio controls>
            <source src="/<%= audio.url %>">
        </audio>
    </p>
</body>
</html>