<%- include('./layout.ejs') %>
</head>

<body class="center">
    <% if (auds.length > 0) { %>
        <% for (let audio of auds) { %>
            <h1>
                <%= audio.title %>
            </h1>
            <a href="/playback/<%= audio._id %>" class="btn">Play</a>
            <form action="/delete" method="POST">
                <input type="hidden" value="<%= audio._id %>" name="audioId">
                <button class="btn" type="submit">Delete</button>
            </form>
        <% } %>
    <% } else { %>
        <h1>
            Empty!
        </h1>
        <p>
            <a href="/upload">Click here</a> to add a file.
        </p>
        <% } %>
</body>
</html>